In [69]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
import pickle
from sklearn.externals import joblib
data = pd.read_csv('Study Case Astra Credit Score Training.csv')

In [33]:
data.head()

,ID,LIMIT_BAL,MARRIAGE,EDUCATION,SEX,AGE,PAY_1,PAY_2,PAY_3,BILL_AMT1,BILL_AMT2,BILL_AMT3,PAY_AMT1,PAY_AMT2,PAY_AMT3,TARGET
0,1,30000.0,1,1,2,40,0,0,0,24607.0,24430.0,23881.0,1700.0,1600.0,1287.0,0
1,2,20000.0,1,1,2,41,1,2,0,17040.0,16474.0,17203.0,0.0,1300.0,1500.0,0
2,3,20000.0,1,1,2,36,0,0,0,17332.0,18600.0,17947.0,1580.0,1367.0,1178.0,0
3,4,20000.0,1,1,2,35,0,0,0,2003.0,2948.0,3372.0,1086.0,1000.0,0.0,0
4,5,170000.0,1,1,2,38,0,0,0,171465.0,145196.0,110163.0,18500.0,13998.0,3760.0,0

## Mencari Model dengan Accuracy dan Precicion Terbaik

In [34]:
X = data.drop(columns=['ID','TARGET']) #ID tidak berguna dalam model, dan TARGET harus dipisahkan dari feature
X = scale(X) #Agar Variansi pada feature berada pada range yang sama
y = data.TARGET

# Split dataset kedalam data training dan data testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

### Random Forest Classifier

In [65]:
#Membuat klasifikasi Gaussian
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)
# Model Accuracy, seberapa sering klasifikasi benar?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))

Accuracy: 0.867682437850842
Precision: 0.8586387434554974

### Logistic Regression

In [41]:
logreg = LogisticRegression()
logreg.fit(X_train,y_train)
y_pred=logreg.predict(X_test)

In [42]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))

Accuracy: 0.7361668003207699
Precision: 0.7282608695652174
Recall: 0.5610837438423645

Akurasi dari Logistic regresion dalam memprediksi adalah 73% dengan presisi 72%. Random Forest masih lebih akurat dan lebih presisi dalam memprediksi

### K-Nearest Neighbors

In [47]:
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

In [48]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))

Accuracy: 0.8149558941459503
Precision: 0.7875324675324675
Recall: 0.7467980295566502

Akurasi dari K-Nearest Neighbors dalam memprediksi adalah 81.4% dengan presisi 78.7%. Random Forest masih lebih akurat dan lebih presisi dalam memprediksi

### Save Model

In [73]:
filename = 'TopikZulkarnain_RandomForest.tz'
joblib.dump(clf,filename)

['TopikZulkarnain_RandomForest.tz']

In [74]:
loaded_model = joblib.load(filename)
result = loaded_model.score(X_test, y_test)
print (result)

0.867682437850842