In [58]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
import pickle
from sklearn.externals import joblib

In [59]:
data_test = pd.read_csv('Study Case Astra Creditscore Testing.csv',sep=';')

In [60]:
data_test.head()

,ID,LIMIT_BAL,MARRIAGE,EDUCATION,SEX,AGE,PAY_1,PAY_2,PAY_3,BILL_AMT1,BILL_AMT2,BILL_AMT3,PAY_AMT1,PAY_AMT2,PAY_AMT3
0,1,30000.0,1,1,2,40,0,0,0,24430.0,23881.0,24234.0,1600.0,1287.0,1296.0
1,2,20000.0,1,1,2,41,2,0,0,16474.0,17203.0,18411.0,1300.0,1500.0,824.0
2,3,20000.0,1,1,2,36,0,0,0,18600.0,17947.0,18758.0,1367.0,1178.0,712.0
3,4,20000.0,1,1,2,35,0,0,0,2948.0,3372.0,0.0,1000.0,0.0,0.0
4,5,170000.0,1,1,2,38,0,0,0,145196.0,110163.0,112157.0,13998.0,3760.0,4000.0

In [61]:
data_test = data_test.drop(columns = ['ID'])

In [62]:
loaded_model = joblib.load('TopikZulkarnain_RandomForest.tz')

In [63]:
data_test['prediction'] = loaded_model.predict(data_test)

In [64]:
data_test

,LIMIT_BAL,MARRIAGE,EDUCATION,SEX,AGE,PAY_1,PAY_2,PAY_3,BILL_AMT1,BILL_AMT2,BILL_AMT3,PAY_AMT1,PAY_AMT2,PAY_AMT3,prediction
0,30000.0,1,1,2,40,0,0,0,24430.0,23881.0,24234.0,1600.0,1287.0,1296.0,1
1,20000.0,1,1,2,41,2,0,0,16474.0,17203.0,18411.0,1300.0,1500.0,824.0,1
2,20000.0,1,1,2,36,0,0,0,18600.0,17947.0,18758.0,1367.0,1178.0,712.0,1
3,20000.0,1,1,2,35,0,0,0,2948.0,3372.0,0.0,1000.0,0.0,0.0,0
4,170000.0,1,1,2,38,0,0,0,145196.0,110163.0,112157.0,13998.0,3760.0,4000.0,1
5,20000.0,1,1,2,40,0,0,0,17012.0,18181.0,19331.0,1450.0,1600.0,382.0,1
6,200000.0,1,1,2,32,0,0,0,160320.0,162140.0,165431.0,5888.0,5990.0,6031.0,1
7,370000.0,1,1,2,37,0,0,0,43531.0,59801.0,53925.0,20000.0,8000.0,0.0,0
8,160000.0,1,1,2,39,0,0,0,89397.0,90348.0,8274.0,6353.0,1200.0,70000.0,1
9,30000.0,1,1,2,36,2,2,2,27274.0,25744.0,27504.0,0.0,3000.0,1000.0,1
10,240000.0,1,1,2,41,0,0,0,49001.0,47026.0,45827.0,1923.0,1682.0,2000.0,1
11,270000.0,1,1,2,40,0,0,0,178592.0,170225.0,156719.0,6081.0,5072.0,5009.0,1
12,180000.0,1,1,2,44,0,0,0,174590.0,175233.0,106288.0,5299.0,3305.0,5040.0,1
13,240000.0,1,1,2,40,0,0,0,2530.0,464.0,1316.0,464.0,1316.0,1104.0,1
14,200000.0,1,1,2,43,0,0,0,102211.0,54762.0,55858.0,2573.0,2604.0,1997.0,1
15,250000.0,1,1,2,35,0,0,0,244628.0,243223.0,245031.0,7938.0,8101.0,8430.0,1
16,50000.0,1,1,2,40,0,0,0,6563.0,7422.0,8292.0,1130.0,1000.0,307.0,1
17,30000.0,1,1,2,39,2,0,0,14923.0,10936.0,11436.0,1000.0,500.0,1520.0,1
18,300000.0,1,1,2,36,0,0,0,1378.0,1109.0,0.0,1422.0,0.0,474.0,1
19,140000.0,1,1,2,39,0,0,0,3146.0,0.0,2000.0,0.0,2000.0,4716.0,0
20,160000.0,1,1,2,38,2,0,0,135.0,0.0,0.0,0.0,0.0,0.0,1
21,160000.0,1,1,2,39,0,0,0,2579.0,1155.0,3334.0,1155.0,3334.0,0.0,0
22,150000.0,1,1,2,40,3,4,4,108189.0,112968.0,117613.0,8000.0,8000.0,8000.0,1
23,250000.0,1,1,2,41,0,0,0,31898.0,103675.0,91487.0,94000.0,3000.0,7000.0,1
24,50000.0,1,1,2,31,0,0,0,21029.0,18765.0,19145.0,1298.0,678.0,687.0,1
25,80000.0,1,1,2,39,0,0,0,47041.0,25439.0,26140.0,1299.0,1000.0,3000.0,1
26,110000.0,1,1,2,38,0,0,0,96752.0,98884.0,98501.0,5000.0,3000.0,3000.0,1
27,500000.0,1,1,2,37,0,0,0,11076.0,3834.0,-754.0,4024.0,754.0,7030.0,0
28,330000.0,1,1,2,39,0,0,0,163406.0,137664.0,3381.0,7558.0,5000.0,42054.0,1
29,470000.0,1,1,2,35,0,0,0,74993.0,48344.0,45433.0,1542.0,1041.0,2019.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16595,460000.0,1,1,1,53,0,0,0,44413.0,45697.0,46873.0,2000.0,2000.0,2000.0,1
16596,390000.0,1,2,1,63,0,0,0,4339.0,4049.0,345.0,4049.0,348.0,650.0,1
16597,310000.0,1,1,1,59,2,2,2,71623.0,71020.0,67338.0,3008.0,0.0,5100.0,1
16598,430000.0,1,1,1,67,0,0,0,73282.0,75499.0,77739.0,3400.0,3500.0,2815.0,1
16599,380000.0,2,3,1,65,0,0,0,142087.0,255846.0,140057.0,5528.0,4500.0,3500.0,1
16600,360000.0,2,2,1,64,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
16601,410000.0,2,1,1,58,0,0,0,56021.0,54126.0,58732.0,4553.0,5800.0,2000.0,1
16602,320000.0,1,1,1,56,2,2,0,18195.0,17614.0,18630.0,0.0,1310.0,680.0,1
16603,350000.0,2,3,1,60,0,2,2,72951.0,62848.0,60645.0,34.0,4400.0,0.0,1
16604,310000.0,2,3,1,56,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
16605,420000.0,1,2,1,60,0,0,0,326.0,326.0,326.0,326.0,326.0,652.0,1
16606,440000.0,2,3,1,65,3,2,0,30923.0,29928.0,29498.0,0.0,31200.0,541.0,1
16607,340000.0,1,1,1,59,0,2,2,3427.0,3207.0,0.0,0.0,0.0,1250.0,1
16608,340000.0,1,4,1,63,0,0,0,73514.0,75373.0,50947.0,3428.0,2002.0,1023.0,1
16609,420000.0,2,3,1,62,0,0,0,411016.0,420393.0,1467.0,18600.0,1474.0,1428.0,1
16610,380000.0,1,1,1,63,0,0,0,1804.0,1804.0,1804.0,1804.0,1804.0,3608.0,1
16611,350000.0,1,1,1,60,0,0,0,125833.0,127815.0,130023.0,5500.0,5000.0,3000.0,1
16612,380000.0,1,2,1,61,0,0,0,48344.0,46895.0,49161.0,1775.0,51209.0,428.0,1
16613,400000.0,1,1,1,63,0,0,0,1826.0,2831.0,2756.0,2831.0,2756.0,1585.0,1
16614,360000.0,2,2,1,60,2,0,0,73830.0,74968.0,23867.0,2968.0,1867.0,463.0,1
16615,330000.0,2,4,1,63,0,0,0,136692.0,91815.0,0.0,2000.0,0.0,0.0,0
16616,370000.0,1,2,1,59,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
16617,350000.0,1,2,1,55,2,2,2,9316.0,4328.0,2846.0,3000.0,0.0,0.0,1
16618,400000.0,2,2,1,54,2,3,2,54892.0,53415.0,51259.0,0.0,2000.0,0.0,1
16619,310000.0,1,2,1,57,0,0,0,9112.0,10306.0,11328.0,1500.0,1500.0,1200.0,1
16620,350000.0,1,2,1,56,2,2,2,2500.0,2500.0,2500.0,0.0,0.0,0.0,1
16621,380000.0,2,2,1,60,2,2,2,77708.0,79384.0,77519.0,3500.0,0.0,7000.0,1
16622,340000.0,2,2,1,56,3,2,0,3356.0,2758.0,20878.0,0.0,22000.0,4200.0,1
16623,430000.0,1,1,1,61,0,0,0,78379.0,76304.0,52774.0,3409.0,1178.0,1926.0,1
16624,410000.0,1,2,1,61,0,0,0,48905.0,49764.0,36535.0,1800.0,1430.0,1000.0,1

In [65]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))

NameError: name 'y_test' is not defined